<% include partials/header %>

<h1><%=campground.name%></h1>

<figure>
    <img src="<%=campground.image%>" height="200px" width="360px">
    <p><%=campground.description%></p>
</figure>

<% include partials/footer %>