<% include partials/header %>

<% datas.forEach(function(data){%>
    <li>
        <%=data.title%> - <%=data.author%> 
    </li>
    <li>
        <%=varThing %>
    </li>
<%});%>
<% include partials/footer %>
