body{
	background-color: orange;
}
li{
	border: 2px solid black;
}
#diff   /*one element changing styles and patterns*/
{
	background-color: red;
	/*border: 2px dotted blue;*/
}
.done   /*changing style of class 'done' */
{
	text-decoration: line-through;  /*put a line through the textt*/
}