body{
	background-color: #232323;
	margin: 0;
	font-family: Arial;
}
.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.6s;

}
#container{
	width: 600px;
	margin: 20px auto;
}
h1{	
	color: white;
	line-height: 1.1;
	padding : 20px 0;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}
#message{
	display: inline-block;
	width: 20%;
}
#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}
.selected{
	color: white;
	background-color: steelblue;
}
#colorDisplay{
	font-size: 200%;
}
button{
	border: none;
	background-color: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
	outline: none;
}
button:hover{
	color: white;
	background-color: steelblue;
}