p{
	width: 50%;
	border: 2px solid blue;
	padding-bottom:10px;
	/*margin-top:  : 100px;
	margin: 20px 50px 100px 150px;*/
	margin: 0 auto; /*Alligns the margin accordingly on the left and right and 0 margin in the top and bottom*/
}
